* {
    /* box-sizing: border-box; */
    margin: 0px;
    font-family: 'Montserrat';
    font-weight: bold;
}

p {
    font-size: 1.1rem;
}

body {
    margin: 0px 10%;
}

nav {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-pic {
    width: 65px;
    height: 65px;
    margin-right: 10px;
}

ul li{
    list-style-type: none;
    display: inline;
    margin-left: 10px;
}

section {
    margin: 40px 0px;
    
}

section * {
    font-family: 'Poppins';
    font-weight: normal;
}

h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.event-cards-container {
    display: flex;
    justify-content: space-between;
}

.card-spacing {
    height: 30px;
    width: 20px;
}

.event-card {
    background-color: orange;
    width: 48%;
    padding: 4% 0% 4% 3%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content-spacing {
    height: 50px;
}

.event-name {
    font-size: 50px;
}

/* .event-card h3, .event-card div{
    margin-bottom: 20px;
} */



.card-description h3 {
    font-size: 1.5rem;
}

.buttons-container {
    display: flex;
    margin-top: 10px;
}

.card-button {
    background-color: white;
    border-radius: 5px;
    padding: 7px;
    margin-right: 20px;
    font-size: 1.25rem;
}

.card-button:hover {
    background-color: black;
    color: white
}

.support-button {
    margin-top: 15px;
}

.support-button a{
    background-color: orange;
    border-radius: 5px;
    padding: 7px;
    font-size: 1.25rem;
}

.support-button a:hover {
    background-color: black;
    color: white
}

footer {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.footer-spacing {
    height: 10px;
}

@media screen and (max-width: 800px) {
    .event-name {
        font-size: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .logo-pic {
        width: 50px;
        height: 50px;
    }
    /* ul{
        display: none;
    } */
    .event-cards-container {
        flex-direction: column;
    }
    .event-card {
        width: 95%;
        padding: 15% 0% 15% 3%;
    }
    .card-content-spacing{
        height: 20px;
    }
    footer {
        flex-direction: column;
    }
}